@import 'colors.css';

* {
  border-radius: 0px;
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(0,0,0,0.3);
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* Left modules */
#custom-menu,
#sysmon,
#network,
#window,
#language {
  font-size: 12px;
  padding: 0px 6px;
  margin: 3px 2px;
  border-radius: 5px 5px 5px 5px;
  background: @background;
  color: @primary;
  border: 1px solid @inverse_primary;
}

#custom-menu:hover,
#sysmon:hover,
#network:hover,
#window:hover,
#language:hover {
  transition: all 0.1s ease-in-out;
  background: @primary_container;
  color: @on_primary_container;
}

/* Center modules */
#workspaces {
  background: @background;
  color: @primary;
  font-size: 12px;
  margin:4px 5px 4px 0px;
  border: 1px solid @inverse_primary;
  border-radius: 5px 5px 5px 5px;
}

/* Right modules */
#custom-updates,
#privacy,
#idle_inhibitor,
#custom-clipboard,
#tray,
#mpris,
#audio,
#brightness,
#bluetooth,
#batterypower,
#custom-notification,
#clock,
#powermodules {
  font-size: 12px;
  padding: 0px 6px;
  margin: 3px 2px;
  border-radius: 5px 5px 5px 5px;
  background-color: @background;
  color: @primary;
  border: 1px solid @inverse_primary;
}

/* Hover effect for right-side modules */
#custom-updates:hover,
#idle_inhibitor:hover,
#custom-clipboard:hover,
#mpris:hover,
#audio:hover,
#brightness:hover,
#bluetooth:hover,
#batterypower:hover,
#custom-notification:hover,
#clock:hover,
#powermodules:hover {
  transition: all 0.1s ease-in-out;
  background: @primary_container;
  color: @on_primary_container;
}
/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */
#workspaces {
  margin: 2px 18px 3px 1px;
  padding: 0px 2px;
  font-weight: bold;
  font-style: normal;
  color: @primary;
}

#workspaces button {
  padding: 0px 6px;
  margin: 3px 2px;
  color: @primary;
  transition: all 0.1s linear;
}

#workspaces button.active {
  color: @on_primary_container;
  background: @primary_container;
  min-width: 30px;
  transition: all 0.1s linear;
  border-radius: 3px 3px 3px 3px;
  font-size: 14px;
}

#workspaces button:hover {
  color: @on_primary_container;
  background: @primary_container;
  border-radius: 5px 5px 5px 5px;
}
/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border-radius: 10px;
  padding: 5px;
  margin: 0px;
}

tooltip label {
  color: @primary;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

window#waybar.empty #window {
    background-color: transparent;
    border: none;
}

/* -----------------------------------------------------
 * Idle Inhibitor
 * ----------------------------------------------------- */

#idle_inhibitor.activated {
    font-weight: bold;
    opacity: 1.0;
    color: @on_primary_container;
}

/* -----------------------------------------------------
 * App Launcher
 * ----------------------------------------------------- */

#custom-menu {
    padding: 0px 10px 0px 7px;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
    padding: 0px 2px 0px 4px;
}

@keyframes blink-update {
  to { color: @tertiary; }
}
#custom-updates.pending-updates {
  animation: 3s blink-update linear infinite alternate;
}

/* -----------------------------------------------------
 * Custom Notification
 * ----------------------------------------------------- */

#custom-notification {
    padding: 0px 6px 0px 4px;
}

/* -----------------------------------------------------
 * Sysmon (CPU, Memory, Disk, Temperature)
 * ----------------------------------------------------- */

#disk,#memory,#cpu,#temperature {
    padding: 0px 6px;
    margin: 3px 2px;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network.disconnected {
  color: @error;
}

/* -----------------------------------------------------
 * Power Profiles Daemon
 * ----------------------------------------------------- */

#power-profiles-daemon {
    margin: 2px 0px 2px 2px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    border-radius: 3px 5px 3px 5px;
    padding: 2px 10px 0px 10px;
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */
#backlight-slider slider {
  border-radius: 50%;
}
#backlight-slider trough {
  min-height: 2px;
  min-width: 80px;
  border-radius: 5px;
  background-color: @on_surface;
}
#backlight-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: @primary;
}

/* -----------------------------------------------------
 * Audio (WirePlumber)
 * ----------------------------------------------------- */
#wireplumber.sink.muted,
#wireplumber.source.muted {
  color: @error;
}

#pulseaudio-slider slider {
  border-radius: 50%;
}
#pulseaudio-slider trough {
  min-height: 2px;
  min-width: 80px;
  border-radius: 5px;
  background-color: @on_surface;
}
#pulseaudio-slider highlight{
  min-width: 10px;
  border-radius: 5px;
  background-color: @primary;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth, #bluetooth.on, #bluetooth.connected {
    color: @primary;
}

#bluetooth.disabled, #bluetooth.off, #bluetooth.no-controller {
  color: @error;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */
#battery.charging {
  color: lightgreen;
}
#battery.full {
  color: green;
}
#battery.discharging.warning {
  color: orange;
  animation: blink 3s linear infinite alternate;
}
#battery.discharging.critical {
  color: @error;
  animation: blink 0.8s linear infinite alternate;
}
@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0.3; }
}

/* -----------------------------------------------------
 * MPRIS (Media Player)
 * ----------------------------------------------------- */
#mpris {
  padding: 0px 10px 0px 6px;
}
#mpris.stopped {
  color: red;
}
#mpris.paused, #mpris.playing {
  color: @primary;
}
#mpris.brave, #mpris.firefox, #mpris.vlc {
  color: orange;
}
#mpris.spotify {
  color: green;
}
#mpris.mpv {
color: purple;
}
#mpris.kdeconnect {
  color: lightblue;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#tray menu { 
  border-radius: 10px 10px 10px 10px;
  background-color: @background;
  color: @primary;
}

#tray > .active:hover {
  color: @primary;
  background: @inverse_primary;
  border-radius: 5px 5px 5px 5px;
}

/* -----------------------------------------------------
 * Custom clipboard history
 * ----------------------------------------------------- */
#custom-clipboard {
    padding: 0px 10px 0px 8px;
}

/* -----------------------------------------------------
 * powermodules (Shutdown, Reboot, Logout, Lock, Suspend)
 * ----------------------------------------------------- */
#powermodules {
  padding: 0px 5px 0px 11px;
  margin: 3px 2px;
}

#custom-power { font-size: 15px; }

#custom-shutdown, #custom-reboot, #custom-quit, #custom-lock, #custom-suspend {
  padding: 0px 15px 0px 5px;
  margin: 3px 2px 3px 5px;
}
#custom-shutdown { color: red; }
#custom-reboot { color: orange; }
#custom-quit { color: yellow; }
#custom-lock { color: lightblue; }
#custom-suspend { color: lightgreen; }

/* -----------------------------------------------------
 * hyprsunset
 * ----------------------------------------------------- */

#custom-hyprsunset {
  margin: 0px 10px 0px 10px;
}
