@import '../waybar/css/dark-modern.css';

* {
    font-family: JetBrainsMono Nerd Font, monospace;
}

/* Control Center */

.control-center {
    border: 3px solid @border_color;
    background-color: @bg;
    padding: 10px;
}

button {
    border: 0px;
    min-width: 35px;
    background: @bg-active;
    border: 3px solid @border_color;
    color: @active;
}

button:hover {
    background: @accent;
    color: @active;
}

.notification-group-header {
    font-size: 14px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    margin:5px;
}

/* Notification */

.notification {
    border: 3px solid @border_color;
	border-radius: 10px;
    padding:5px;
}

.notification-default-action:hover,
.notification-action:hover {
    color: @accent;
    background: transparent;
}

.close-button {
    background: @border_color;
    text-shadow: none;
    padding: 0;
    border-radius: 15px;
    margin-top: 9px;
    margin-right: 10px;
    min-width: 24px;
    min-height: 24px;
}

.close-button:hover {
    background: @accent;
}

.notification-group .notification-group-close-button .close-button {
    margin: 15px 22px;
}

/* DnD */
.widget-dnd switch {
  background: @bg-active;
  border-radius: 5px;
}
.widget-dnd switch slider {
  background: @fg;
  border-radius: 5px;
}
.widget-dnd switch:checked { background: @accent; }